body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #333333;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
.main {
    overflow: hidden;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
/* Header */
.header {
position: absolute;
top: 0;
left: 0;
right: 0;

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 73px;
}

/* Nav */
.nav {
    display: flex;
}
.nav-link {
    font-size: 14px;
    color: #ffffff;
    margin-right: 40px;
    line-height: 41px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
   
}
.nav-link:last-child {
    margin-right: 0;
}
.nav-link:hover {
    color: #d6f812;
}

.nav-toggle {
    display: none;
    width: 24px;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 1;
}
.nav-toggle-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}
.nav-toggle.active .nav-toggle-item {
background: none;
}
.nav-toggle.active .nav-toggle-item::before {
    transform-origin: left top;
    transform:  rotate(45deg) translateX(0px);
    -webkit-transform:  rotate(45deg) translateX(0px);
    -moz-transform:  rotate(45deg) translateX(0px);
    -ms-transform:  rotate(45deg) translateX(0px);
    -o-transform:  rotate(45deg) translateX(0px);
}
.nav-toggle.active .nav-toggle-item::after {
    transform-origin: left bottom;
    transform:  rotate(-45deg) translateX(0px);
    -webkit-transform:  rotate(-45deg) translateX(0px);
    -moz-transform:  rotate(-45deg) translateX(0px);
    -ms-transform:  rotate(-45deg) translateX(0px);
    -o-transform:  rotate(-45deg) translateX(0px);
}
.nav-toggle-item::before,
.nav-toggle-item::after { 
    content: "";
     width: 100%; 
     background-color: #fff; 
     height: 3px; position: absolute;
      left: 0; 
      z-index: 1; 
      transition: transform .2s linear;
      
}
.nav-toggle-item::before {
    top: -8px;
}
.nav-toggle-item::after {
    bottom: -8px;
}

/* Intro */

.intro {
    width: 100%;
    height: 700px;
    background: url("../img/bg.jpg") center no-repeat;
    background-color: #000000;
    margin-bottom: 120px;
    
}
.intro-inner {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 275px;
}
.intro-title {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 52px;
    letter-spacing: -1px;
}
.intro-subtitle {
    font-size: 75px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 59px;
    text-transform: uppercase;
    letter-spacing: -1.88px;
}

/* Button */

.btn {
    display: inline-block;
    background-color: #fed136;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 auto;
    padding: 25px 51px;
    transition: background .2s linear;
    
}
.btn-text {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover {
    background-color: #cbec0e;
}

/* Services */

.services-text {
    text-align: center;
}
.services-title {
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 9px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.services-subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    color: #777777;
    margin-bottom: 80px;
}
.services-content {
    display: flex;
    
    justify-content: space-between;
}
.services-item {
   max-width: 275px;
   text-align: center;
    
}
.services-images {
    margin-bottom: 28px;
}
.services-content-title {
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 18px;
    letter-spacing: -0.45px;
}
.services-content-subtitle {
    font-family: 'Roboto Slab';
    font-size: 14px;
    color: #777777;
    line-height: 20px;
    margin-bottom: 118px;
    letter-spacing: -0.35px;
}
/* Portfolio */
.portfolio {
    margin-bottom: 120px;
    background-color: #f7f7f7;
}
.portfolio-text {
    padding-top: 120px;
    text-align: center;
}
.portfolio-title {
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 9px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.portfolio-subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    color: #777777;
    margin-bottom: 76px;
}
.portfolio-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-items {
    max-width: 291px;
    margin-bottom: 50px;
}
.portfolio-items:nth-child(4),
.portfolio-items:nth-child(5),
.portfolio-items:nth-child(6) {
    margin-bottom: 120px;
}
.portfolio-box {
    width: 291px;
    text-align: center;
    background-color: #ffffff;
}
.portfolio-box-title {
    font-size: 18px;
    font-weight: 700;
    padding-top: 29px;
    color: #333333;
    margin-bottom: 4px;
    letter-spacing: -0.45px;
}
.portfolio-box-subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 14px;
    color: #737373;
    padding-bottom: 27px;
}

/* About */
.about {
    margin-bottom: 120px;
}
.about-text {
    text-align: center;
}
.about-title {
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 9px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.about-subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    margin-bottom: 85px;
    color: #777777;
}

.about-items {
    display: flex;
    align-items: center;
    margin-bottom: 107px;
}

.about-box-text {
    max-width: 282px;
}
.about-items:nth-child(2n+1) {
    margin-left: 55px;
    
}
.about-items:nth-child(2n+1) .about-box-text {
    text-align: right;
    margin-right: 45px;
}
.about-items:nth-child(2n+2) {
    justify-content: flex-end;
    align-items: center;
    margin-right: 65px;
}
  .about-items:nth-child(2n+2) .about-box-text {
    text-align: left;
    margin-left: 45px;
}
.about-items:nth-child(5) {
    justify-content: center;
    margin-right: 70px;
    margin-bottom: 0;
}


.about-box-date {
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: -0.45px;
}
.about-box-title {
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 17px;
    letter-spacing: -0.45px;
}
.about-discription {
    max-width: 307px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    letter-spacing: -0.35px;
}
.about-images img {
    width: 169px;
    height: 168px;
}

/* Team */
.team {
    background-color: #f9f9f9;
}
.team-content {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-box-text {
    padding-top: 120px;
    text-align: center;
}
.team-items {
   margin-right: 60px;
}
.team-items:last-child {
    margin-right: 0;
}
.team-img img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.team-title {
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.team-subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 16px; 
    color: #777777;
    margin-bottom: 83px;
}
.team-img {
    margin-bottom: 26px;
}
.team-text {
    text-align: center;
}
.team-name {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 7px;
    letter-spacing: -0.4px;
}
.team-prof {
    font-family: 'Indie Flower', cursive;
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
    letter-spacing: -0.35px;
}
.team-social {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 50px;
    
}
.social-link {
    max-width: 145px;
    color: #000;
    transition: color .2s linear;
}
.social-link:hover {
    color: #5699f0;
}

.tw, .fb, .gp {
   padding: 12px 10px;
}

    
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #222;
    width: 41px;
    height: 41px;
    margin-right: 9px;
    transition: background-color .2s linear;
}
.circle:hover {
    background-color: #fbff1d;
}
.team-description {
    font-family: 'Roboto Slab', serif;
    width: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-bottom: 117px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

/* Brand */

.brand-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-items {
    margin-right: 40px;
    padding: 67px 0;
}
.brand-items:last-child {
    margin-right: 0;
}

/* Contact */
.contact {
    width: 100%;
    height: 680px;
    background: url("../img/contact-bg.jpg") center no-repeat/cover;
}
.contact-text {
    text-align: center;
}
.contact-title {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 9px;
    padding-top: 110px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.contact-subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    color: #777777;
    margin-bottom: 76px;
}
form   {
    display: flex;
    
}
.form-content {
    margin-bottom: 31px;
}

.name,.email,.subject, .area {
    font-size: 14px;
    font-weight: 700;
    color: #bbbbbb;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: -0.35px;
}
.area {
    padding-top: 20px;
}



input {
    width: 455px;
    height: 50px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 29px;
    transition: background-color .1s linear;
}
 input:hover {
    background-color: #affa91;
}
input:last-of-type {
    margin-bottom: 0;
}
.area {
    width: 455px;
    height: 210px;
    border-radius: 5px;
    margin-left: 30px;
}
textarea.area:hover {
    background-color: #affa91;
}
.btn-down {
    display: inline-block;
    transition: background .2s linear;
    border-radius: 3px;
    background-color: #fed136;
    border: 0;
}
.btn-down:hover {
    background-color: #cbec0e;
}
.btn-text-down {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 25px 47px;
    text-transform: uppercase;
}
.button {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* Footer */

.footer-content {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 45px 0;
    color: #555555;
    letter-spacing: -0.35px;
}

.footer-social {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: 119px;
    
}
.circle-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #222;
    width: 41px;
    height: 41px;
    margin-right: 9px;
    transition: background-color .2s linear;
}
.circle-footer:hover {
    background-color: #f75fdd;
}
.social-footer-link {
    max-width: 145px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}
.social-footer-link:hover {
    color: #fff;
}


/* Adaptive */

@media (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }
    .intro-subtitle {
        font-size: 70px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



@media (max-width: 975px) {
    .container {
        padding: 0 15px;
    }
    .logo img {
        position: absolute;
        top: 42px;
        left: 0;
    }
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
    .intro {
        max-height: 975px;
    }
    .intro-subtitle {
        font-size: 64px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-items:nth-child(5) {
        justify-content: center;
        margin-right: 35px;
        margin-bottom: 0;
    }
    
    .about-items:nth-child(2n+2) {
        justify-content: flex-end;
        align-items: center;
        margin-right: 35px;
    }
    .services-item {
        max-width: 230px;
        
    }
    .services-content-subtitle {
        font-size: 11px;
        line-height: 16px;
    }

}
@media (max-width: 800px) {
    .portfolio-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
}


@media (max-width: 770px) {
    .container {
        padding: 0 15px;
    }
    .intro {
        min-height: 650px;
        margin-bottom: 80px; 
    }
    .intro-title {
        margin-bottom: 20px;
    }
    .intro-subtitle {
        font-size: 56px;
        margin-bottom: 150px;
    }
    
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
    .services-item {
        max-width: 170px;
    }
    .services-content-title {
        margin-bottom: 12px;
    }
    .services-content-subtitle {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 80px;
    }
    .services-subtitle {
        margin-bottom: 50px;
    }
    .portfolio-content {
        justify-content: center;
    }
    .portfolio-items {
        max-width: 291px;
        margin-right: 15px;
        margin-bottom: 30px;
    }
    
    .portfolio-items:nth-child(4),
    .portfolio-items:nth-child(5) {
        margin-bottom: 30px;
    }
    .portfolio-text {
        padding-top: 80px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-items:nth-child(5) {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 0;
    }
    .team-box-text {
        padding-top: 80px;
       
    }
    .team-description {
        margin-bottom: 80px;
    }.team-items {
        margin-right: 0;
    }
    .team-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brand-items {
        margin-right: 0;
        padding: 67px 0px;
    }
    .contact-title {
        padding-top: 80px;
    }
    .contact-subtitle {
        margin-bottom: 60px;
    }
    form {
        margin-bottom: 200px;
    }
    input {
        width: 330px;
        height: 40px;
    }
    .area {
        width: 455px;
        height: 180px;
    }
    .footer-content {
        padding: 25px 0;
        justify-content: space-between;
    }
    
}

@media (max-width: 575px) {
        .container {
            padding: 0 15px;
        }
        .intro {
            max-height: 575px;
        }
        .intro-subtitle {
            font-size: 43px;
            margin-bottom: 150px;
        }
        .intro-inner {
            padding-top: 230px;
        }
        .header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0;
        }
        
        .header.fixed {
            
            background-color: #f1423c;
            box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transform: translate3d(0, 0, 0);
        }
        
        .active {
            background-color: #f1423c;
        }
        .nav {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            
        }
        .nav-link {
            display: block;
            padding: 1px 5px;
        }
        .nav-toggle {
            display: block;
            padding: 45px 0;
        }
        .nav.active {
            display: none;
        }
        .services-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .services-item {
            max-width: 500px;
        }
        .services-content-subtitle {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 80px;
        }
        .about-items:nth-child(2n+1) {
            margin-left: 20px;
        }
        .about-box-title {
            margin-bottom: 10px;
        }
        .about-discription {
            max-width: 250px;
            font-size: 12px;
        }
        .about-items:nth-child(5) {
            justify-content: center;
            margin-right: 0;
            margin-bottom: 0;
        }
        .team-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        .team-items {
            margin-right: 0;
        }
        .team-description {
            max-width: 480px;
            font-size: 13px;
            margin-bottom: 80px;
        }
        .brand-content {
            display: flex;
            align-items: center;
        }
        .brand-img {
            width: 100px;
            height: 30px;
        }
        
        .brand-items {
            margin-right: 0;
            padding: 30px 0px;
        }
        form {
            margin-bottom: 170px;
        }
        input {
            width: 250px;
            height: 30px;
        }
        .name, .email, .subject, .area {
            font-size: 10px;
            
        }
        .area {
            width: 400px;
            height: 150px;
            padding-top: 10px;
        }
        .circle-footer {
            width: 35px;
            height: 35px;
        }
        .copyright {
            font-size: 12px;
        }
}

@media (max-width: 475px) {
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
    .services-content-subtitle {
        font-size: 11px;
        line-height: 15px;
    }
    .about-discription {
        max-width: 180px;
        font-size: 12px;
    }
    .about-items:nth-child(2n+1) .about-box-text {
        text-align: right;
        margin-right: 25px;
    }
    .about-items:nth-child(2n+2) {
        justify-content: flex-end;
        align-items: center;
        margin-right: 0px;
    }
    .about-box-date {
        font-size: 16px;
    }
    .about-box-title {
        font-size: 15px;
    }
    .team-title {
        font-size: 30px;
    }
    .team-description {
        max-width: 395px;
        font-size: 12px;
        margin-bottom: 80px;
    }   
    .brand-img {
        width: 85px;
        height: 20px;
    }
    input {
        width: 180px;
        height: 30px;
    }
    .circle-footer {
        width: 25px;
        height: 25px;
    }
    .copyright {
        font-size: 8px;
    }
}


@media (max-width: 411px) {
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
        .intro-title {
            font-size: 33px;
            margin-bottom: 32px;
        }
        .intro-subtitle {
            font-size: 35px;
        }
        .services-item {
            max-width: 320px;
        }
        .services-title {
            font-size: 37px;
        }
        .services-subtitle {
            font-size: 14px;
        }
        .services-content-subtitle {
            font-size: 10px;
        }
        .portfolio-title {
            font-size: 33px;
        }
        .team-title {
            font-size: 24px;
            letter-spacing: 1px;
        }
        .about-subtitle {
            margin-bottom: 60px;
        }
        .team-description {
            max-width: 370px;
            font-size: 10px;
            margin-bottom: 80px;
        }
        .brand-img {
            width: 85px;
            height: 20px;
        }
        .contact {
            width: 100%;
            height: 735px;
            
        }
        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
        }
        input {
            width: 375px;
            height: 50px;
        }
        input:last-child {
            margin-bottom: 29px;
        }
        .area {
            width: 375px;
            height: 150px;
            border-radius: 5px;
            margin-left: 0;
            margin-bottom: 10px;
        }
        .copyright {
            font-size: 7px;
        }
        .footer-social {
            display: flex;
            justify-content: center;
            font-size: 10px;
            margin-left: 0;
        }
}

@media (max-width: 375px) {
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
    .intro-title {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .intro-subtitle  {
        font-size: 32px;
    }
    .portfolio-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .brand-img {
        width: 65px;
        height: 18px;
    }
    .about-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        
    }
    .about-items:nth-child(2n+1) .about-box-text {
        text-align: center;
       
    }
    .about-items:nth-child(2n+1) .about-box-text {
        text-align: center;
        margin-right: 0;
        
    }
    .about-items:nth-child(2n+2) .about-box-text {
        text-align: center;
        margin-left: 0;
        
    }
    .about-items:nth-child(2n+1) {
        margin-left: 0px;
    }
    .about-items:nth-child(2n+2) {
        
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 0px;
    }
    .about-discription {
        max-width: 180px;
        font-size: 12px;
        margin-bottom: 30px;
    }
    .team-description {
        max-width: 335px;
        font-size: 10px;
        margin-bottom: 80px;
    }
    .contact {
        width: 100%;
        height: 735px;
        
    }
    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    input {
        width: 345px;
        height: 50px;
    }
    input:last-child {
        margin-bottom: 29px;
    }
    .area {
        width: 345px;
        height: 150px;
        border-radius: 5px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .footer-social {
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin-left: 0;
    }
}
@media (max-width: 320px) {
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    
    .header.fixed {
        
        background-color: #f1423c;
        box-shadow: 0 3px 10px rgba(0, 0, 0,.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0);
    }
    
    .active {
        background-color: #f1423c;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        
    }
    .nav-link {
        display: block;
        padding: 1px 5px;
    }
    .nav-toggle {
        display: block;
        padding: 45px 0;
    }
    .nav.active {
        display: none;
    }
    .intro-title {
        font-size: 25px;
        margin-bottom: 7px;
    }
    .intro-subtitle {
        font-size: 27px;
    }
    .about-discription {
        max-width: 276px;
        font-size: 12px;
        margin-bottom: 30px;
    }
    .team-description {
        max-width: 280px;
        font-size: 9px;
        margin-bottom: 80px;
    }
    .brand-img {
        width: 65px;
        height: 18px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    input {
        width: 290px;
        height: 50px;
    }
    input:last-child {
        margin-bottom: 29px;
    }
    .area {
        width: 290px;
        height: 150px;
        border-radius: 5px;
        margin-left: 0;
    }
}

